joblib
astropy
numpy
jupyter
matplotlib
pyavm
aplpy
reproject
montage_wrapper
Pillow
setuptools
wheel
scipy
scikit-learn
lightgbm
pandas==0.24.1
seaborn
hyperopt
aiostream
asyncio
aiohttp
aiofiles
google-cloud-pubsub
tqdm
keras
tensorflow
pydot
-e file:sdss_gz_data_pkg#egg=sdss_gz_data

